>> Pandas is very good library to manipulate data

In [28]:
import pandas as pd
import os
import time
from datetime import datetime

In [51]:
path = 'C:/Users/Haier/Downloads/intraQuarter/intraQuarter'
def Key_Stats(gather="Total Debt/Equity (mrq)"):
    statspath = path + '/_KeyStats'
    stock_list = [x[0] for x in os.walk(statspath)]
    #print(stock_list)
    df = pd.DataFrame(columns=['Date', 'Unix', 'Ticker', 'DE Ratio'])
    for each_dir in stock_list[1:]:
        each_file = os.listdir(each_dir)
        ticker = each_dir.split('\\')[1]
        if len(each_file)>0:
            for file in each_file:
                
                date_stamp = datetime.strptime(file,'%Y%m%d%H%M%S.html')
                unix_time = time.mktime(date_stamp.timetuple())
                # print(date_stamp, unix_time)
                # time.sleep(15)
                full_file_path = (each_dir+'/'+file)
                # print(full_file_path)
                source = open(full_file_path,'r').read()
                # print(source)
                # time.sleep(15)
                try:
                    value = float(source.split(gather+':</td><td class="yfnc_tabledata1">')[1].split('</td>')[0]) # parse table
                    df = df.append({'Date':date_stamp,'Unix':unix_time,'Ticker':ticker,'DE Ratio':value})
                    # print(ticker+':',value)
                except Exception as e:
                    pass
    save = gather.replace(' ','').replace(')','').replace('(','').replace('/','')+('.csv')
    print(save)
    df.to_csv(save)

Running this then saves the dataframe as a CSV spreadsheet for us. We want to save the data since we really just need to access and store the data once. When we begin doing analysis, we're going to want to frequently modify the data, re-structure it, and do all sorts of testing with it. If we were re-pulling the data every single time, it would add a significant amount of time to the overall process.

In [52]:
Key_Stats()

TotalDebtEquitymrq.csv

With this simple splitting method, however, we're able to pull the Debt/Equity ratios for all of the companies.

>> Next use pandas to structure data

In [58]:
sp500_df = pd.read_csv('C:/Users/Haier/Dataset/stock data/GSPC.csv')

In [59]:
sp500_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-04-06,1487.369995,1511.760010,1487.369995,1501.339966,1501.339966,1008000000
1,2000-04-07,1501.339966,1518.680054,1501.339966,1516.349976,1516.349976,891600000
2,2000-04-10,1516.349976,1527.189941,1503.349976,1504.459961,1504.459961,853700000
3,2000-04-11,1504.459961,1512.800049,1486.780029,1500.589966,1500.589966,971400000
4,2000-04-12,1500.589966,1509.079956,1466.150024,1467.170044,1467.170044,1175900000